@font-face {
    font-family: 'argesta_displayregular';
    src: url('Public/design/fonts/Argesta-Display-Regular-web/argestadisplay-regular-webfont.eot');
    src: url('Public/design/fonts/Argesta-Display-Regular-web/argestadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Public/design/fonts/Argesta-Display-Regular-web/argestadisplay-regular-webfont.woff2') format('woff2'),
         url('Public/design/fonts/Argesta-Display-Regular-web/argestadisplay-regular-webfont.woff') format('woff'),
         url('Public/design/fonts/Argesta-Display-Regular-web/argestadisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

    font-family: 'medio';
    src: url('Public/design/fonts/medio.otf');
    font-weight: normal;
    font-style: normal;


}