//gestion des button
.button_style {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

//gestion des animations buttons

.animation_button {
    animation:button-effet 1s infinite alternate;
    -webkit-animation:button-effet 1s infinite alternate;
}

//gestion du trait horizontal

.trait {
    content: '';
    border-bottom: 1px $couleurQuatre solid;
    display: inline-block;
    vertical-align: middle;
}

