@import 'variable';
@import 'animation';
@import 'heritage';
@import 'font';

// =============initialisation HTML=============

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// =============STYLE GENERAL=============
html {
    height: 100%;
}
body {
     font-family: 'Quicksand', sans-serif,Georgia, 'Times New Roman', Times, serif;
     min-height: 100%;
     width: 100%;
     position: relative;
     
    }

 #container {

       
    width: 100%;
}
a {
    text-decoration: none;

   
}
li {
    list-style: none;
}
//================TITRE================

h1,h2,h3 {
    text-align: center;
}
h1 {
    font-size: 1rem;
}
h2 {
    color: $couleurSecondaire;
    font-size: 1.6rem;
    margin-top: 15px;
    margin-bottom: 20px;
}
.hidden{
    display: none;
}


//================TITRE DESIGN================

// h2.horizontal::after {

//     @extend .trait;

//     width: 25%;
//     margin-left: 10px;
// }
    
// h2.horizontal::before {

//     @extend .trait;

//     width: 25%;
//     margin-right: 10px;
// }

// EST-CE VRAIMENT UNE BONNE IDEE ?


// =============MOBILE FIRST=============

    // =============HEADER=============
    
.navbar {
    padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     background-color: $couleurPrincipal;

     .icon {
        fill: black;
        cursor: pointer;
    }

    ul.nav-menu {
        position: absolute;
        background-color:$couleurPrincipal;
        top: 75px;
        left: 0;
        right: 0;
        padding-left: 20px;
        width: 100%;
        text-align: center;
        z-index: 4;

        li{
            font-size: 1.2rem;
            text-transform: uppercase;
            padding: 10px;
            
            a{
                color: $couleurSecondaire;
                letter-spacing: 0.8px;
            }
            .active {
                color: green;
                font-weight: bold;
            }
        }
    }

  
}

.navbar input, .nav-menu{
    display: none;
}

[id^=btn]:checked + ul {
    display: block;
}

/* quand id commencant par btn est coché, alors je cache mon menu ul*/

#connexion {
    width: 100%;
    background-color: $couleurSecondaire;
    a {
        margin: 15px;
        color: $couleurPrincipal;
    }
}

// ================PANIER================

#nombre {

    color: red;
}

// ================PANIERVIEW================

section#block_panier {
    text-align: center;
    margin-top: 50px;

    #image_panier {
        margin: auto;
    }

    button {
        background-color: $couleurSecondaire;
        color: $couleurPrincipal;
        display: block;
        width: 100px;
        margin: 25px auto;
        font-size: 1.2rem;

        &:hover{
            background-color: $couleurTertiaire;
        }
    }
}

//=============PAGE ACCUEIL: BLOCK IMAGE PARALLAX =============

section#block_image_parallax {

    background: url("../images/ble.jpg");
    background: {
        size:   cover;
        repeat: no-repeat;
        attachment: fixed;
    }
    position: relative;
    width: 100%;
    height: 250px;
    

    //=====GESTION DE L'ABSOLUTE=====

   #block_absolute_image {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 15%;
       

    h1 {
        color: $couleurSecondaire;
        font: {
            size: 1.4rem;
            weight: bold;
        }
    }
    .button {
        
        @extend .button_style;
        background-color: $couleurSecondaire;
        color: $couleurPrincipal;
        display: block;
        width: 100px;
        margin: 25px auto;

        &:hover{
            background-color: $couleurTertiaire;
        }
    } 
}
   
    
}

// =============PAGE ACCUEIL: BLOCK POURQUOI=============

#block_pourquoi {
    
    .blocks_inside_pourquoi{

        position: relative;
        border: 1px solid $couleurQuatre;
        height: 220px;
        margin: 10px;
        text-align: center;
        border-radius: 5px;
        background-color: $couleurPrincipal;

        img.image_pourquoi {
            width: 15vw;
            padding : {
                top: 15px;
                bottom: 15px;
            } 
        }

        h3 {
            margin-bottom: 10px;
        }

        .button {
            @extend .button_style;
        }

        .design_block_hover {
            position: absolute;
            z-index: 10000;
            border: 1px solid $couleurQuatre;
            left: -10px;
            top: -10px;
            height: 220px;
            width: 100%;
            background-color: #4760727c;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            opacity: 0;
            
            &:hover {
                opacity: 1;
            }
            .button {
                @extend .button_style;
                background-color: $couleurSecondaire;
                color: $couleurPrincipal;
                text-align: center;
        
                &:hover{
                    
                    @extend .animation_button;
                }
            }
        }
    }  
}


// =============PAGE ACCUEIL: PRODUITS =============

.blocks_inside_produit  {
    
    margin-bottom: 40px;
    text-align: center;
    width: 90%;
    position: relative;
    
    img.image_produits {
        width: 100%;
    }
    .description_card_produit {
        background-color: #eeeeeeb0;
        height: 80px;
        position: absolute;
        bottom: 4px;
        width: 100%;

        h3{
            margin: 15px;
            color: $couleurTertiaire;
        }

        p {
            margin-bottom: 10px;
        }
    }

}

// =============PAGE ACCUEIL: SLIDER=============


#slider-block{

    margin-top: 20px;
    position: relative;
    

    .slider {
       height: 50vh;
       
    
       img {
           object-fit: cover;
           height: 80%;
           width: 100%;
           position:absolute;
           top: 10%;
           left: 0;
           opacity: 0;
           transition: opacity .5s ;
    
           &.active {
               opacity: 1;
           }
       }
    
       .suivant, .precedent {
           color: rgb(255, 255, 255);
           font-size: 1rem;
           position: absolute;
           top: 37%;
           transform: translateY(-50%);
       }
       .suivant {
           right: 1rem;
       }
       .precedent {
           left: 1rem;
       }
    
       //=====GESTION DE L'ABSOLUTE=====
    
       #block_absolute_image_testimonial{
          

           .block_testimonials {
                
            width: 100%;
            
            // =============PAGE ACCUEIL: TEMOIGNAGES=============

            .photo_testimonials {

                display: block;
                position: absolute;
                width: 100px;
                height: 100px;
                left: 50%;
                transform: translate(-50%);
                border-radius: 50%;
               
                
              }
              p.testimonials {

                position: absolute;
                z-index: 10000;
                width: 100%;
                text-align: center;
                
                  margin-top: 120px;
                  font: {
                      size: 1.2rem;
                      weight:bold ;

                }
                  color:$couleurTertiaire ;
              } 
           }
       }
    }
}


// =============PAGE A PROPOS=============

        // =============A PROPOS: IMAGE PARRALAX=============

        section#block_image_apropos {
            
            background: url("../images/lavande.jpg");
            background: {
                size:       cover;
                repeat:     no-repeat;
                attachment: fixed;
            }
            position: relative;
            width: 100%;
            height: 250px;
            
            
            //=====GESTION DE L'ABSOLUTE=====
                    
            #block_inside_image_apropos {
                position: absolute;
                text-align: center;
                width: 100%;
                top: 26%;
            
    
                h1 {
                    color: $couleurSecondaire;
                    margin-bottom: 10px;
                    font: {
                        size: 1.4rem;
                        weight: bold;
                        }
                    }
            }
        }
        // =============A PROPOS: CARD AGRICULTEUR=============


section#block_notre_histoire{
    margin: 30px;
    text-align: center;

    h2 {
        margin-bottom: 10px;
    }

   
}

section#block_notre_equipe {
    height: 1508px;
}

.block_agriculteur {
    cursor: pointer;
    text-align: center;
    height: 420px;
    margin: 0 10px;
    margin-bottom: 15px;
    border: 1px $couleurPrincipal solid;
    background-color: $couleurPrincipal;
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow-y: hidden;




    img.photo_agriculteur {
        border-radius: 50%;
        width: 40%;
        transition: all .3s;
        margin-top: 50px;

    }

    h3 {
        margin-top: 20px;
        font-size: 1.3rem;
    }

    p {
        font-size: 1.2rem;
    }

    .agriculteur_reseau {
        position:absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);

        a {
            i {
                margin: 10px;
                color: $couleurSecondaire;
                transition: all .6s;
                transform: translateY(50px);

                &:hover {
                    color: $couleurQuatre;
                }
            }
        }
    }  
}


.block_agriculteur h3, .block_agriculteur p {
    
    transition: all .3s;
}

.block_agriculteur:hover img, .block_agriculteur:hover h3, .block_agriculteur:hover p {
    
    transform: translateY(-50px);
    
}
.block_agriculteur:hover .agriculteur_reseau a i {

    transform: translateY(-20px);
    
}

// =============PAGE PRODUITS=============

section#block_produitsView {
    text-align: center;
    margin: 5px;

    #block_inside_produits{

        width: 100%;
        margin: 10px;
        margin-top: 50px;

        h1 {
            font-size: 1.4rem;
            color: $couleurSecondaire;
            margin-bottom: 25px;
        }


        .produit_laitier_inside {
  
            justify-content: center;
            background-color: $couleurPrincipal;
            margin: 30px 10px;
            height: 630px;
            box-shadow: 0 2px 6px 0 #e5e5e5;

            

            img {
                width: 90%;
                object-fit: cover;
                margin: 20px auto;
            }

            p {
               font-size: 1.2rem;
               font-weight: bold;
               padding-bottom: 25px;
            }

            .button {

                    @extend .button_style;
                    background-color: $couleurSecondaire;
                    color: $couleurPrincipal;
                    width: 40%;
                    margin: auto;
                    margin-top: 20px;

                    &:hover {
                        background-color: $couleurTertiaire;
                    }
            }
        }
    }
}

// =============PANIER=============

#image_panier{
    width: 200px;
}

// =============FORMULAIRES=============


#container_inscription, #container_contact, #container_connexion_client {
    
    margin: 10px;

    h1 {
        text-align: center;
        margin-bottom: 10px;
        color: $couleurSecondaire;
        font-size: 1.2rem;
        
    }

    form {
        text-align: center;

        label{
            margin-bottom: 8px;
        }
        
        div.center_formulaire {
            width: 100%;
            label {
                display: block;
                font-size: 1.1rem;
            }
            
            input, #raison {
                display: block;
                margin: 0 auto;
                height: 25px;
                background-color: $couleurPrincipal;
                
                &:focus {
                    background-color: $couleurSecondaire;
                    color: $couleurPrincipal;
                }
            }

            input::placeholder{
                font-weight: bold;
                font-size: 0.7rem;  
            }
        }

        textarea {

            background-color: $couleurPrincipal;

                &:focus {
                    background-color: $couleurSecondaire;
                    color: $couleurPrincipal;
                }
        }
        
        .button {
            @extend .button_style;
            background-color: $couleurSecondaire;
            color: $couleurPrincipal;
            margin: 10px 0px;

            &:hover{
                @extend .animation_button;
            }
        }

        div {
            margin-bottom: 15px;
        }

        span {
            color:red;
        }
    }
    #condition_generale{
        display: flex;
    }

}
// =========GESTION FORM=========

section#block_identifiant_incorectes {

    height: 500px;
    margin-top: 50px;

    a{ 
        @extend .button_style;
        background-color: $couleurSecondaire;
        color: $couleurPrincipal;
        display: block;
        width: 150px;
        margin: 25px auto;

        &:hover{
            background-color: $couleurTertiaire;
        }
    }
}


// =============FORMULAIRES=============

#container_inscription, #container_contact, #container_connexion_client {

    
    margin: 10px;

    h1 {
        text-align: center;
        margin-bottom: 10px;
        color: $couleurSecondaire;
        font-size: 1.2rem;
        
    }
    form {
    
            height: 1200px;
        
        div.center_formulaire {
            label {
                font-size: 1.2rem;
            }
            input, #raison {
        
                height: 30px;
                font-size: 1.1rem;
            }
        } 
    }
    textarea#content {
        font-size: 1.1rem;
    }
    #map {
        text-align: center;
    }
}

//=============FOOTER=============

footer {
    
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: $couleurPrincipal;
    color: $couleurSecondaire;

    #logo_reseau_sociaux {
        width: 100%;
        text-align: center;
        padding-top: 25px;
       
        .logo_footer{
            margin-top: 10px;
            padding: 10px;
            width: 60px;
            color: $couleurSecondaire;

            &:hover {

                color: $couleurQuatre;
            }
        }
    }

    div#block_copyright{
        margin-top: 20px;
        text-align: center;

        p{
            margin-bottom: 10px;
        }
    }
}

//=============PAGE404=============

#block_image_404 {
    position: relative;
    
    img {
        width: 100%;
    }
    #block_bouton_404 {
        position: absolute;
        top: 50%;
        left: 100px;

        .button {

            @extend .button_style;
            background-color: $couleurSecondaire;

            &:hover{
                background-color: $couleurQuatre;
            }
            

            a {
                color: $couleurPrincipal;
            }
        }
    }
    
}



    
// =============MEDIUM ECRAN=============

  @media screen and (min-width:688px) 
  {
      // =============CSS GENERAL=============
      
      p {
    font-size: 1.2rem;
}

//================TITRE DESIGN================

// h2.horizontal::after {

//     @extend .trait;

//     width: 35%;
//     margin-left: 10px;
// }
    
// h2.horizontal::before {

//     @extend .trait;

//     width: 35%;
//     margin-right: 10px;
// }

// =============HEADER=============

ul.nav-menu {
    
    top: 99px;
    
}

#logo {
            width: 8vw;
            height: 8vh;
        }
        
        // =============PAGE ACCUEIL: BLOCK PARALLAX=============

 
    
    // =================PAGE ACCUEIL: SLIDER=========================
    
    #slider-block{
        
        margin-top: 30px;
        
    }

    // =============PAGE ACCUEIL: BLOCK POURQUOI=============
    
        #block_pourquoi {
            
            .blocks_inside_pourquoi{
                
                height: 220px;
        
                img.image_pourquoi {
                    width: 12vw; 
        }

        .design_block_hover {
            
            height: 220px;
            
        }
    }  
}
// =============PAGE ACCUEIL PRODUIT=============

.blocks_inside_produit {
    width: 80%;
    margin:auto;
    margin-bottom: 25px;

    p {
        padding-bottom: 20px;
    }
}

// =============PAGE A PROPOS=============

// =============A PROPOS: IMAGE PARRALAX=============

        section#block_image_apropos {
            
            //=====A PROPOS: IMAGE PARRALAX => GESTION DE L'ABSOLUTE=====
            
            #block_inside_image_apropos {
                
            
                
                h1 {
                    font-size: 1.6rem;
                }
        }
    }

// =============A PROPOS: CARD AGRICULTEUR=============


section#block_notre_histoire{
    
    h2 {
       font-size: 1.3rem;
    }
}

.block_agriculteur {
    
    
    height: 400px;
    
    
    img.photo_agriculteur  {
        
        width: 250px;
        object-fit: cover;
        
    }
    
    h3 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.3rem;
    }
    
}
// =============PAGE PRODUIT=============


section#block_produitsView{

h1 {
    margin-top: 25px;
}

    #produits_laitier {
        
        display: flex;
        flex-wrap: wrap;
        
        .produit_laitier_inside{
    
           width: 30%;
           margin: 10px;

           img {
             
               width: 90%;
           }
        }
    }
}


//=============FOOTER=============

footer {
    
    .fa-xl {
        font-size: 2rem;
    }
    }
}

//==============GESTION ERREUR DES FORMULAIRES=================

.input_error {
    color: rgb(170, 13, 13);
    font : {
        size: 16px;
        style: italic;
    }
    height: 25px;
}


//   =============GRAND ECRAN=============

@media screen and (min-width:1024px) {

    
    //================TITRE DESIGN================

    // h2.horizontal::after {

    //     content: '';
    //     border-bottom: 1px $couleurQuatre solid;
    //     display: inline-block;
    //     vertical-align: middle;
    
    //     width: 40%;
    //     margin-left: 10px;
    // }
        
    // h2.horizontal::before {
    
    //     content: '';
    //     border-bottom: 1px $couleurQuatre solid;
    //     display: inline-block;
    //     vertical-align: middle;
    
    //     width: 40%;
    //     margin-right: 10px;
    // }
    
    //=============HEADER===============
    
    svg.icon {
        display: none;
    }
    
    ul.nav-menu {
        display: initial;
        position: static;
        border-top: none;
        top: 87px;
        
        li.nav-item {
            position: relative;
            display: inline-block;
            margin-left: 20px;
        }
    }

    
    // =============PAGE ACCUEIL: BLOCK POURQUOI=============
    
    #block_pourquoi {
        
        display: flex;
        flex-wrap: wrap;   
        
        h2{
            width: 100%;
        }
        
        .blocks_inside_pourquoi 
        {
            
            height: 330px;
            width: 31%;
            
            
            img.image_pourquoi 
            {
                width: 10vw; 
            }
        
            .design_block_hover {
                height: 330px;
            
                .button {
            position: absolute;
            bottom: 20px;
            left: 31%;
            
        }
    }
}

} 
// =============PAGE ACCUEIL: BLOCK PRODUIT=============

#block_produits_accueil{
    
        display: flex;
        flex-wrap: wrap;
        
        h2 {
            width: 100%;
        }
        .blocks_inside_produit {
            
            height: 330px;
            width: 31%;
            
            img.image_produits {

                height: 300px;
                object-fit: cover;
            }

        }
    }

    // =============PAGE ACCUEIL: SLIDER==================

    #slider-block{
        
        margin-top: 30px;

        h2 {
            margin-top: 50px;
        }
        
    }
    
    // =============PAGE A PROPOS: block_image_apropos=============
    
    section#block_image_apropos {
        
        //=====A PROPOS: IMAGE PARRALAX => GESTION DE L'ABSOLUTE=====
        
        #block_inside_image_apropos {
            
            h1 {
                font-size: 1.7rem;
            }
        }
        
    }
    section#block_notre_equipe {
        display: flex;
        flex-wrap: wrap;
        height: 800px;
        
        .block_agriculteur {
            
            width: 31%;
            height: 600px;
            max-height: 600px;
            text-align: justify;
            
            &:nth-child(1) {
                margin-top: 0px;
            }

            p {
                padding: 10px;
            }
            
            .agriculteur_information {
                text-align: center;
                
            }
            img.photo_agriculteur {
                
                width: 60%;
                
            } 
        }
    }

    // =============PAGE PRODUIT=============

    section#block_produitsView {

        #block_inside_produits {

                .produit_laitier_inside {
        
                   img {
                       height: 250px;
                       width: 250px;
                   }
              }
            }
        }
    

    // =============PAGE CONTACT============
    
    #container_contact{
        
        
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-around;
        
        
        
        h1 {
            width: 100%;
                font-size: 1.7rem;
                margin-bottom: 20px;
            }

            iframe {
                width: 600px;
                height: 500px;
            }
            
        }
        
        // =============FORMULAIRE INSCRIPTION============
        
        #container_inscription {
            
            
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            
            
            .formulaire_grand {
                display: flex;

                div {
                    margin: 20px;
                }
            }
            
            h1 {
                width: 100%;
                font-size: 1.7rem;
                margin-bottom: 20px;
            } 
        }    
    }
    
  
    //=======DASHBOARD ADMINISTRATEUR=======

    span#name {
        color:rgba(234, 0, 0, 0.95);
    }

    //=======PAGE formulaire CONNEXION et CREATION DASHBOARD ADMINISTRATEUR=======

section#container_connexion_administrateur, section#container_connexion_client, #container_creation_administrateur {

    h1{
        margin : {
            top:50px;
            bottom: 10px;
        }
        color: $couleurSecondaire;
        font-size: 1.2rem;
    }

    #form_connexion_administrateur, #form_connexion_client, #form_creation_admin {
        text-align: center;

        label {
            display: block;
            margin-bottom: 5px;
            text-transform: uppercase;
            font-weight: bold
        }

        input {
            height: 30px;
            width: 200px;
            margin-bottom: 10px;
        }

        button {

            @extend .button_style;
            background-color: $couleurSecondaire;
            color: $couleurPrincipal;
            margin-bottom: 25px;

            &:hover{
                background-color: $couleurQuatre;
            }
        }
    }
}

    
        //=======DASHBOARD ADMINISTRATEUR: VU GENERALE=======
    
    #header_dashboard{
        
        .navbar {


            #bouton_admin_header{
                display: flex;
                flex-direction: column;
            }


            button {
            
                background-color: rgb(193, 6, 43);
                width: 160px;
                display: block;
                margin: 10px;
                padding: 10px;

                &:nth-child(1) {
                    background-color: green;
                }
                
                &:hover {
                    background-color:rgba(193, 6, 43, 0.549);
                }
                
                a {
                    color: white;
                    text-transform: uppercase;
                }
            }
        }
    }


    #dashboard{
        h1{
            margin-top: 40px;
            font-size: 1.3rem;
            color: black;
        }

        .fa-circle-plus {
            font-size: 30px;
            color: green;
            margin: 10px;
        }
    }

    table {
        text-align: center;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 50px;
        
        th {
            background-color: $couleurPrincipal;
            padding: 10px;
        }
        td {
            
           
            color: white;
            
            a{
                color: white;
            }

            .icone_tableau {
                font-size: 20px;
                padding: 10px;
            }
    }

    tr {
        &:nth-child(even) {
            background-color: #062C30;
        }
        &:nth-child(odd) {
            background-color: #05595B;
        }
    }
}


    div#blocks_dashboard {


        div.block_nombre_dashboard {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color:#05595B;
            width:  350px;
            height: 130px;
            margin:50px auto;
            text-align: center;
            color: white;

            i {
                font-size: 60px;
                color: white;
            }
        }

        #emails {
            background-color:#062C30;
        }
        #nombres_produits {
            background-color: #E2D784;
        }

        p {
            font-size: 1.4rem;
            color: white;
        }
    }
//=======DASHBOARD ADMINISTRATEUR: VU PRODUIT=======

#Vu_produit_dasboard {
    text-align: center;

    h3 {
        color: $couleurSecondaire;
        text-transform: uppercase;
        }
        
        p {
            font-size: 1.2rem;
            margin-bottom: 10px;
        }
        .image_produit_view_dasboard {
            width: 40vw;
        }
        
        button {
            
            background-color: rgb(24, 96, 124);
            width: 120px;
            margin: 15px auto;
            display: block;
            padding: 10px;
            
            &:hover {
                background-color:rgba(24, 96, 124, 0.411);
            }
            
            a {
                color: white;
                text-transform: uppercase;
            }
        }
    }

    //=======DASHBOARD ADMINISTRATEUR: AJOUTER PRODUIT=======

    #ajouter_form {

        h1 {
            margin: {
                top:30px;
                bottom:20px;
            }
        }

        label, select {
            display: block;
            margin: auto;
            margin-bottom: 5px;
            text-transform: uppercase;
            font-weight: bold;
        
        }
        
        #ajouter_form_inside {
            text-align: center;
        }

        input, select {
            height: 30px;
            width: 200px;
            margin-bottom: 10px;
        }

        button {
                
            background-color: rgb(24, 96, 124);
            width: 120px;
            margin: 15px auto;
            display: block;
            padding: 10px;
            
            &:hover {
                background-color:rgba(24, 96, 124, 0.411);
            }
            
            a {
                color: white;
                text-transform: uppercase;
            }
        }
    }
    

    //=======DASHBOARD ADMINISTRATEUR: MODIFICATION PRODUIT=======

#modifier_produit_dashboard {
    margin-top: 50px;
    form {
        text-align: center;
    }

    h1 {
        margin: 20px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: bold;
    }

    input, select{
        height: 30px;
        width: 200px;
        margin-bottom: 10px;
    }

    input :nth-child(4) {
        height: 90px;
    }

    button {
        margin-bottom: 25px;
        width: 100px;
        height: 25px;
    }

    button.bouton_dashboard {
        background-color: lightseagreen;
        
        a {
            color: white;
        }
    }
}

// =============DASHBOARD ADMINISTRATEUR: confirmation delete=============


section#confirmationDelete, section#container_confirmation {

    margin-top: 50px;

    button {
                
        background-color: rgb(24, 96, 124);
        width: 120px;
        margin: 15px auto;
        display: block;
        padding: 10px;
        
        &:hover {
            background-color:rgba(24, 96, 124, 0.411);
        }
        
        a {
            color: white;
            text-transform: uppercase;
        }
    }
}

    
    // =============DASHBOARD ADMINISTRATEUR: GRAND ECRAN=============
    
    //=======DASHBOARD ADMINISTRATEUR: : GRAND ECRAN: VU PRODUIT=======
    @media screen and (min-width:1024px) {


        //=======PAGE CONNEXION DASHBOARD ADMINISTRATEUR ET CLIENT=======

section#container_connexion_administrateur, section#container_connexion_client {

    h1{
        margin : {
            top:50px;
        }
    }
}
        //
        #block_vu_produit_dasboard {
            display: grid;
            grid-template-columns: 50% 50%;
            margin-top: 100px;
    
            h3 {
                font-size: 1.4rem;
            }
    
            P {
                font-size: 1.3rem;
            }
        }
        #ajouter_produit_dasboard{
            margin-top: 100px;
        }

        // ============DASHBOARD ADMINISTRATEUR: VU générale ============

        #bouton_admin_header{
            flex-direction: row;
        }
    }

